.transacciones_a main {
  width: calc(100% - 150px);
  padding: 10px 20px;
}

.transacciones_a .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transacciones_a .title h2 {
  font-weight: 500;
}

.transacciones_a .lista_retiros {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.transacciones_a ul {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0;
  margin: 10px 0;
  border-radius: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}
.transacciones_a ul:nth-child(odd) {
  background: var(--blue);
}

.transacciones_a ul:nth-child(even) {
  background: var(--blue2);
}

.transacciones_a ul:hover {
  background: #181c1f;
  box-shadow: var(--shadow);
  transition: all 0.3s;
}

.transacciones_a ul li {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.transacciones_a ul li.estatus {
  margin-right: 20px;
}

.transacciones_a ul li.estatus.pending span {
  color: var(--yellow);
}
.transacciones_a ul li.estatus.denied span {
  color: var(--red);
}
.transacciones_a ul li.estatus.approved span {
  color: var(--green);
}
.transacciones_a ul li .icono {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background: var(--bg);
  border-radius: 20px;
  margin-left: 20px;
  color: var(--red);
}

.transacciones_a ul li .icono svg {
  font-size: 2em;
}

.transacciones_a ul li h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 500;
}

.transacciones_a ul li span {
  color: var(--gray);
  font-size: 0.9em;
}

.transacciones_a ul li button {
  padding: 8px 10px;
  max-width: 100%;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  background: none;
  border: 1px solid var(--green);
  color: var(--white);
  transition: all 0.3s;
  max-width: 180px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.transacciones_a ul li button p {
  margin: 0;
}

.transacciones_a ul li:last-child button {
  background: var(--yellow);
  border: none;
  text-shadow: 2px 2px 2px #000;
}

.transacciones_a ul li button:hover {
  box-shadow: var(--shadow);
}

/* @media (min-width: 950px) {
  .transacciones_a ul li button svg {
    display: none;
  }
} */
@media (max-width: 950px) {
  .transacciones_a ul li button p {
    display: none;
  }

  .transacciones_a ul li button  {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .transacciones_a ul li:nth-child(3) {
    display: flex;
    align-items: end;
  }

}

@media (max-width: 750px) {
  .transacciones_a ul li h2 {
    font-size: 1em;
  }

  .transacciones_a ul li span {
    font-size: 0.8em;
  }
  .transacciones_a ul li .icono {
    margin-left: 5px;
  }
  .transacciones_a ul li.estatus {
    margin-right: 5px;
  }
}

@media (max-width: 620px) {
  .transacciones_a main {
    width: calc(100% - 20px);
    padding: 0;
  }

  .transacciones_a .title{
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

@media (max-width: 550px) {
  .transacciones_a ul {
    height: 60px;
  }
  .transacciones_a ul li .icono {
    display: none;
  }
  .transacciones_a ul li h2 {
    font-size: 0.7em;
  }

  .transacciones_a ul li span {
    font-size: 0.6em;
  }
  .transacciones_a ul li button {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .transacciones_a ul li button svg {
    font-size: 1em;
  }
}

/* .custom-table .header-row {
  display: flex;
}

.custom-table {
  overflow-x: auto;
}
.custom-table .header-row .header-cell {
  min-width: 100%;
  width: 100%;
  text-align: center;
}
.custom-table .body {
  display: flex;
  margin-top: 20px;
}

.custom-table .body .data-row {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.custom-table .body .data-cell:nth-child(odd) {
  background: var(--blue);
}
.custom-table .body .data-cell:nth-child(even) {
  background: var(--blue2);
}

.custom-table .body .data-row .data-cell {
  min-width: 100%;
  text-align: center;
  padding: 10px 0;
} */

.swal2-html-container .checkboxs {
  display: flex;
  gap: 50px;
}
.tablaContainer .swal2-popup {
  width: auto;
  height: auto;
}

/* .custom-table .header-row{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.custom-table .body{
  display: flex;
  justify-content: center;
} */	

table {
			border:1px solid #b3adad;
			border-collapse:collapse;
			padding:5px;
		}
		table th {
			border:1px solid #b3adad;
			padding:5px;
			background: #f0f0f0;
			color: #313030;
      overflow: auto;
		}
		table td {
			border:1px solid #b3adad;
			text-align:center;
			padding:5px;
			background: #ffffff;
			color: #313030;
		}