.enlaces_a {
  margin-top: 50px;
}

.enlaces_a .content {
  display: flex;
  border-bottom: 2px solid var(--gray);
  padding-bottom: 10px;
  width: 450px;
  max-width: 100%;
  gap: 50px;
}

@media (max-width: 480px) {
  .enlaces_a .content {
    overflow-x: auto;
  }
}

.enlaces_a .content::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

.enlaces_a .content .item.active a {
  color: var(--green);
  font-weight: 600;
}

.ajustes_a {
  width: 100%;
}

.ajustes_a .content h2 {
  font-weight: 500;
}

.ajustes_a .imgPerfil {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.ajustes_a .imgPerfil .foto {
  display: flex;
  align-items: center;
  position: relative;
}

.ajustes_a .imgPerfil .foto img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 9;
}

.ajustes_a .imgPerfil .foto .input input {
  display: none;
}

.ajustes_a .imgPerfil .foto .input {
  position: absolute;
  left: 50px;
  top: 40px;
  z-index: 10;
}

.ajustes_a .imgPerfil .foto .input label {
  width: 40px;
  height: 40px;
  background: var(--blue);
  display: grid;
  place-items: center;
  border-radius: 15px;
  color: var(--green);
  cursor: pointer;
}

@media (max-width: 360px) {
  .ajustes_a .imgPerfil {
    flex-direction: column;
    gap: 10px;
  }

  .ajustes_a .imgPerfil .text {
    text-align: center;
  }
}

/* bancos */

.bancos_a .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 620px) {
.bancos_a .title {
  align-items: start;
  flex-direction: column;
}
}

.bancos_a .banks {
  width: 100%;
  margin-top: 50px;
}

.bancos_a .banks .grupo-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bancos_a .banks .grupo-input select {
  max-width: 300px;
  height: 45px;
  border-radius: 30px;
  background: none;
  color: var(--white);
  cursor: pointer;
  padding: 0 10px;
}

.bancos_a .banks .grupo-input select option {
  background: var(--bg);
  color: var(--white);
}

.bancos_a .banks .account_detail {
  margin-top: 20px;
}

.bancos_a .banks .account_detail div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bancos_a .banks .account_detail div h2 {
  font-size: 1.1em;
  font-weight: 400;
}

.bancos_a .banks .account_detail div strong {
  font-size: 1em;
  font-weight: 600;
}

.bancos_a .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.bancos_a .modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}

.bancos_a .modal .modal-content {
  width: 460px;
  max-width: 90%;
  background: var(--bg);
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 30px;
  z-index: 1000;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bancos_a .modal .modal-content .message {
  background: var(--blue);
  width: calc(100% - 30px);
  height: 80px;
  border-radius: 30px;
  padding: 15px;
}

.bancos_a .modal .modal-content .message .icon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--green);
  font-weight: 600;
}

.bancos_a .modal .modal-content .message .text {
  font-size: 0.8em;
  text-align: left;
  margin-top: -5px;
}

.bancos_a .modal .modal-content .grupo-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  margin-top: 15px;
}

.bancos_a .modal .modal-content .grupo-input label {
  font-size: 1em;
  cursor: pointer;
}

.bancos_a .modal .modal-content .grupo-input input {
  height: 45px;
  border: none;
  outline: none;
  border-radius: 30px;
  background: none;
  border: 2px solid var(--blue);
  color: var(--white);
  padding-left: 10px;
}

.bancos_a .modal .modal-content .button-group {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.bancos_a .modal .modal-content .button-group button {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

.bancos_a .modal .modal-content .button-group button:first-child {
  background: var(--green);
  color: var(--white);
  font-weight: 600;
  text-shadow: 0px 0px 2px #000000be;
}

.bancos_a .modal .modal-content .button-group button:last-child {
  background: none;
  border: 2px solid var(--green);
  color: var(--green);
}

/* bancos */

/* plataformas */

.plataforma_a .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 620px) {
  .plataforma_a .title {
    align-items: start;
    flex-direction: column;
  }
  }
  

.plataforma_a ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plataforma_a ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plataforma_a .lista_plataformas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 920px;
  margin-top: 20px;
}

.plataforma_a .lista_plataformas .plataforma {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.plataforma_a .lista_plataformas div {
  border-radius: 15px;
}

.plataforma_a .lista_plataformas div:nth-child(even) {
  background: var(--blue);
}

.swalPlataforma .swal2-html-container .grupo-input {
  background: #000 !important;
  display: flex !important;
}

.plataforma_a .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.plataforma_a .modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plataforma_a .modal-content {
  border-radius: 30px;
  box-shadow: var(--shadow);
  background-color: var(--bg);
  padding: 20px;
  width: 80%;
  max-width: 650px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 99;
  animation: animate 0.3s ease;
}

.plataforma_a .modal-content .grupo-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.plataforma_a .modal-content .grupo-input select,
.plataforma_a .modal-content .grupo-input input {
  margin: 0 !important;
}

.plataforma_a .modal-content .custom-field select,
.plataforma_a .modal-content .custom-field input {
  margin: 0 !important;
}

.plataforma_a .modal-content .grupo-input select option {
  background: var(--bg);
}

.plataforma_a .modal-content .custom-field {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.plataforma_a .modal-content .custom-field button.eliminar {
  margin: 0;
  padding: 8px 10px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.plataforma_a .modal-content .custom-field button.eliminar {
  background: var(--red);
  color: var(--white);
  border-radius: 8px;
}

.plataforma_a .modal-content .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}

.plataforma_a .modal-content .buttons button {
  margin: 0;
}

.plataforma_a .modal-content .buttons button.agregar {
  border-color: var(--gray) !important;
  background: var(--gray) !important;
}

.plataforma_a .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2em;
  color: var(--green);
}

.plataforma_a .close:hover,
.plataforma_a .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.plataforma_a .custom-field {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.plataforma_a .modal-content button {
  margin-top: 15px;
}

@keyframes animate {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.swalPlataforma input {
  margin: 0;
  margin-top: -10px;
}

.swalPlataforma .custom-field {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
}

.swalPlataforma .custom-field:nth-child(even) {
  background: var(--blue) !important;
}

.swalPlataforma .custom-field label {
  text-align: left;
}

.swalPlataforma .custom-field input {
  margin: 0;
}

@media (max-width: 620px) {
  .plataforma_a .modal-content {
    text-align: center;
  }

  .plataforma_a .modal-content .custom-field {
    border-bottom: 2px solid var(--gray);
    padding: 10px 0;
  }

  .plataforma_a .modal-content .custom-field select,
  .plataforma_a .modal-content .custom-field input {
    min-width: 100% !important;
    margin: 0;
  }
}

/* ********* plataformas ********* */
