
main{
    width: calc(100% - 460px);
    position: absolute;
    left: 100px;
    height: 100vh;
    overflow-y: auto;

    padding: 0 20px;
}

.balance{
    width: 100%;
    height: 220px;
}

.balance .title h2{
    font-weight: 500;
}

.balance .card{
    width: 100%;
    height: 160px;
    background: var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.balance .card .content{
    width: 85%;
    height: 95%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.balance .card .content .text{
    display: flex;
    gap: 5px;
    margin-top: -20px;
}

.balance .card .content .text button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--green);
    font-size: 2em;
}

.balance .card .content .saldo span{
    font-size: 2em;
}

.balance .card .content .saldo strong{
    color: var(--green);
}

.balance .card .content .saldo small{
    font-size: .5em ;
}



.balance .card .content .enlace{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.balance .card .content .enlace a{
    color: var(--green);
}

@media (max-width: 920px) {
    main{
        width: calc(100% - 140px);
    }
}


@media (max-width: 620px) {
    main{
        width: calc(100% - 30px);
        left: 0;
        padding-right: 10px;
    }

}
.loader {
    width: 100%;
    text-align: center;
    border-radius: 30px;
    background-color: var(--bg);
  }
  
  .card__skeleton {
    background-image: linear-gradient(
      90deg,
      rgba(85, 85, 85, 0.247) 0px,
      rgb(56, 56, 56) 40px,
      rgba(85, 85, 85, 0.247) 80px
    );
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 4s infinite;
  }
  
  .card__title {
    height: 120px;
    margin-bottom: 15px;
  }
  
  .card__description {
    height: 60px;
    margin: 10px 0;
  }
  
  @keyframes shimmer {
    to {
      background-position: -100% 0;
    }
  }
  